# --- Oppstart og innlogging ---
ENTRA_TENANT_ID=
ENTRA_WEB_APP_ID=
ENTRA_WEB_CLIENT_SECRET=

# catalog-info.yaml
GITHUB_TOKEN=

# oauth (catalog-creator, risk scorecard).
RISC_GITHUB_APP_CLIENT_ID=
RISC_GITHUB_APP_CLIENT_SECRET=

# --- Brukere og team fra Entra ---
ENTRA_ID_SP_APP_ID=
ENTRA_ID_SP_CLIENT_SECRET=

# --- ClientID utenom ---
REGELRETT_CLIENT_ID=
SIKKERHETSMETRIKKER_CLIENT_ID=

# --- Risk scorecard og Grafana ---
# GOOGLE_OAUTH_CLIENT_ID=
# GOOGLE_OAUTH_CLIENT_SECRET=
# GRAFANA_TOKEN=